/* navbar links */
.navbar a{
    font-size: 1rem;
    padding: 2px 10px;
    text-decoration: none;
    color: #212529;
    border: 2px solid #f8f9fa;
}
/* on hover border bottom */
.navbar a:hover{
    border-bottom: 2px solid #212529;
}   
/* hero image */
.hero {
    display: flex;
    justify-content: center;
    background:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(/assets/img/bitcoin.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
}
/* hero title */
.hero-title {
    font-size: 2rem;
}
.hero h2{
    font-size: x-large;
}


/* star size and position */
.star{
    width: 30px;
    top: 11px;
    right: 20px;
}
/* card p elements size */
.items{
    font-size: .8rem;
}
/* footer p elements size */
footer p{
    font-size: .8rem;
}
/* css for atm page */
.gps, .img-search {
    width: 20px;
    height: 20px;
    display: inline-block;
}
#map {
    height: 500px;
}
.map-h1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.card-body h2{
    font-size: 20px;
    font-weight: bold;
}