* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.crypto-div {
    color: grey;
    background-color: white;
    border-radius: 5px;
    columns: auto;
   
    margin: 20px;
}

.holderone {
    color:green(255, 102, 0);
    background-color: black;
    padding-right:1em;
    width: auto;
}

.crypto-news {
    width: 300px;
    padding: 20px;
    margin: 10px;
}

.coins-holder {
    width: auto;
    width: 100%;
    margin: 0 auto;

}
.cryptoelements-holder {
    width: auto;
    margin: 0 auto;
}

#search {
    min-width: 50%;
}

.holdertwo {
    flex-wrap: wrap;
    background-color: white;
    padding-right:1em;
    width: auto;
    width: auto;
   
}

.holderThree {
    flex-wrap: wrap;
    background-color: white;
    padding-right:1em;
    width: auto;
   
}

.holderFour {
    padding-right:1em;
    background-color: white;
    width: auto;
   
}

.holderFive {
    padding-right:1em;
    background-color: white;
    width: auto;
}

.holderSix {
    padding-right:1em;
    background-color: white;
    width: auto;
}


.cryptoheader {
    background-color: white;
    width: 90%;
    
}




.holder {
    background-color: black;
}

.crypto-div p {
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    columns: auto;
    width: fit-content;
    width: 100%;
}

.columns {
    flex-direction: column;
}

h2 {
    color: black;

}

h5 {
    color: black;
}

footer {
    font-size: 60px;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header {
    font-size: 60px;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}




header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
       margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}




header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    background-color: rgb(45, 170, 45);
    border-radius: 25px;
    padding: 5px;
}

header nav ul li a:hover {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    background-color: rgb(161, 255, 161);
    border-radius: 25px;
    padding: 5px;
}


.divblock {
   display: inline-block;
   flex-wrap: wrap;
}

.list-group {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}
.list-group p {
    text-align: center;
    width: 200px;
    font-size: 20px;    
}

.list-group img {
    background-color: aqua; 
    width: 200px;  
}

.temp {
    text-align: center;
    
    font-size: 20px;    
    background-color: aliceblue;
}

.list-group div {
    text-align: center;
    width: 210px;
    margin: 15px;
    border: 5px solid orange;
    
}

.news {
    padding-left: 20px;
}

.image-size {
    width: 100px;
    height: 100px;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.none {
    display: none;
}
.bg {
    background-color: black;
    width: auto;
}
.none {
    display: none;
}

h2 {
    font-size: 40px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content h1{
    font-size: 1.5em;
}
.modal-content h2 {
    font-size: 1.25em;
}
.modal-content h1, .modal-content h2{
    padding-top: 15px;
    font-family: 'Red Hat Text', sans-serif;
    color: #303030;
}
/* The Close Button */
.close {
    color: #aaa;
    position: absolute;
    right: 11vw;
    top: 15vw;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.cards{
    width: 90%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}
.symbol {
    /* center */
    display: grid;
    max-width: 300px;
    min-width: 250px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, 60px) 1fr;
    grid-template:
        "info"
        "chart";
    border-radius: 30px;
}
.symbol {
    border: 1px solid rgba(124, 19, 19, 0.15);
    box-shadow: 10px 10px 20px 1px rgba(253, 70, 70, 0.15);
}
.asset-info {
    grid-area: info;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}
.title {
    display: inline-flex;
}
.asset-info h1 {
    margin-left: 10px;
}
#chart {
    grid-area: chart;
    border-radius: 0px 0px 30px 30px;
    margin-top: auto;
}
/* Social Media Horizontal Scroll Styles */
.media-scroller-container {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.media-scroller-container p {
    user-select: none;
}

.media-scroller {
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    background-color: rgb(192, 192, 192);
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    direction: rtl;
    position: relative;
    z-index: 1;
}

.media-item {
    aspect-ratio: 1;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    transition: 150ms;
    direction: ltr;
}

.media-item:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.user-info {
    display: flex;
    flex-direction: row;
}

.user-info img {
    width: 18%;
    aspect-ratio: 1;
    flex: 1;
    border-radius: 50%;
    padding: 10px;
}

.text-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container p {
    margin-bottom: 0;
    font-size: 13px;
    text-align: left;
}


.handle {
    color: gray;
}

.tweet-content {
    padding: 0 10px 0 10px;
    font-size: 15px;
}

.tweet-content p {
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
}

.left-button-container,
.right-button-container {
    display: flex;
    align-items: center;
    background-color: burlywood;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    z-index: 0;
    transition: 400ms;
}
/* .button-chart {
    background-color: yellow;
    color: black;
    border-radius: 25px;
    padding: 5px;
   border: 3px solid rgb(0, 0, 0);
   flex-wrap: flex;

}

.button-chart:hover {
    background-color: rgb(0, 148, 62);
    border-radius: 25px;
    padding: 5px;
    color: white;
   border: 3px solid rgb(255, 255, 255);
   flex-wrap: flex;

} */


.rank-class-header p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    /* background: #86efac;
    border: 2px solid #14532d;
    border-radius: 3px; */
    text-align: center;
    
}

.left-button-container {
    transform: translateX(22px);
}

.left-button-container:hover {
    transform: translateX(10px);
}

.right-button-container {
    transform: translateX(-22px);
}

.right-button-container:hover {
    transform: translateX(-10px);
}

p {
    color: black;
}

.top-coins {
    border: 1px solid #14532d;
    width: 100%;
    background-color: #bbf7d0;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px 5px;
    flex-wrap: wrap;
    text-align: center;
}

.top-coins h6 {
    background-color: green;
}



/*Media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    .crypto-div p {
        font-size: 10px;
        background-color: rgb(255, 255, 255);
        columns: auto;
        width: fit-content;
        width: 100%;
    }
    .cryptoheader {
        background-color: white;
        width: 90%;
        font-size: 30px;
        
    }

    .news {
       display: none;
    }
    
}