* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.crypto-div {
    color: blue;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    columns: auto;
   
    margin: 20px;
}

.holderone {
    color:rgb(255, 102, 0);
    background-color: black;
    padding-right:1em;
    width: auto;
}

.crypto-news {
    width: 200px;
    padding: 20px;
    margin: 10px;
}

.coins-holder {
    background-color: greenyellow;
}

.holdertwo {
    flex-wrap: wrap;
    background-color: #2BD2FF;
    padding-right:1em;
    width: auto;
    width: auto;
   
}

.holderThree {
    flex-wrap: wrap;
    background-color: blueviolet;
    padding-right:1em;
    width: auto;
   
}

.holderFour {
    padding-right:1em;
    background-color: rgb(0, 230, 50);
    width: auto;
   
}

.holderFive {
    padding-right:1em;
    background-color: rgb(255, 102, 0);
    width: auto;
}

.holderSix {
    padding-right:1em;
    background-color: rgb(214, 0, 132);
    width: auto;
}


.cryptoheader {
    background-color: brown;
    width: 90%;
    
}






.holder {
    background-color: black;
}

.crypto-div p {
    
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    columns: auto;
    width: fit-content;
}

.columns {
    flex-direction: column;
}
body {
    background-color: black;
}

h2 {
    color: white;

}

h5 {
    color: white;
}


.header {
        font-size: 50px;
        margin: 0px 0px 0px 0px;
        width: 100%;
        background-color: #FA8BFF;
        background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
        transition: all .5s ease-out;
        background-size: 1px 100px;
        background-position: 0 -10px;
}

.list-weather {
    color: gold;
    font-size: 23px;
}

.divblock {
   display: inline-block;
   flex-wrap: wrap;
}

.list-group {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}
.list-group p {
    text-align: center;
    width: 200px;
    font-size: 20px;    
}

.list-group img {
    background-color: aqua; 
    width: 200px;  
}

.temp {
    text-align: center;
    
    font-size: 20px;    
    background-color: aliceblue;
}

.list-group div {
    text-align: center;
    width: 210px;
    margin: 15px;
    border: 5px solid orange;
    
}

.modal {
    
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content {
    background-color: bisque;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px black;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 100}
  to {top: 0; opacity: 1}
}

.image-size {
    width: 200px;
    height: 200px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.none {
    display: none;
}
.bg {
    background-color: black;
    width: auto;
}
.none {
    display: none;
}

h2 {
    font-size: 40px;
}

/* Social Media Horizontal Scroll Styles */
.media-scroller-container {
    display: flex;
    justify-content: center;
}

.media-scroller-container p {
    user-select: none;
}

.media-scroller {
    height: 270px; /* !!!TAKE OUT HEIGHT PROP!!! */
    /* width: 90%; */
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    background-color: rgb(192, 192, 192);
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    direction: rtl;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.media-item {
    aspect-ratio: 1;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    transition: 150ms;
    direction: ltr;
}

.media-item:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.user-info {
    display: flex;
    flex-direction: row;
}

.user-info img {
    width: 18%;
    aspect-ratio: 1;
    flex: 1;
    border-radius: 50%;
    padding: 10px;
}

.text-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container p {
    margin-bottom: 0;
    font-size: 13px;
}

.handle {
    color: gray;
}

.tweet-content {
    padding: 0 10px 0 10px;
    font-size: 15px;
}

.tweet-content p {
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
}

.left-button-container,
.right-button-container {
    display: flex;
    align-items: center;
    background-color: burlywood;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    z-index: 0;
    transition: 400ms;
}

.left-button-container {
    transform: translateX(22px);
}

.left-button-container:hover {
    transform: translateX(10px);
}

.right-button-container {
    transform: translateX(-22px);
}

.right-button-container:hover {
    transform: translateX(-10px);
}